<form action="/create_comment_from_photo" method="post">

  <div class="form-group">
    <label for="commenter_id">
      Commenter
    </label>

    <%= select_tag(:commenter_id, options_from_collection_for_select(User.all, :id, :user_name, @comment.commenter_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="photo_id" value="<%= @photo.id %>">

  <div class="form-group">
    <label for="comment">
      Comment
    </label>

    <textarea id="comment" name="comment" class="form-control" rows="3"><%= @comment.comment %></textarea>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create comment
  </button>
</form>
